<div class="home-container">
    <header>
        <i class="pi pi-gift" style="font-size: 3rem; color: #F6AEAE"></i>
        <h1>Opportunities</h1>
    </header>

    <main>
        <section class="intro">
            <section class="messages">
                <h3>{{ email }}</h3>
                <p>{{ content }}</p>
            </section>
            <section class="messages">
                <h3>{{ email2 }}</h3>
                <p>{{ content2 }}</p>
            </section>
        </section>
    </main>
</div>